#root {
display: flex;
/* justify-content: center; */
}

header {
  text-align: center;
  grid-area: header;
}
/* main heading on the homepage */
.mainheading {
  background-color: #FAFAFA;
  color: darkblue;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.horizontalline {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-top: 8px;
  background-color: #4169e1;
}

.instructions {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  float: left;
}

.instructionsparagraph {
  margin: 0;
  padding-bottom: 0px;

}

li {
  margin-bottom: 10px;
}

.instructionscontainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 30px;
  margin-top: 11px;
  padding-bottom: 2px;
  width: 78%;
  background-color: #E9EDFF;
  border-radius: 10px;
}

.weathercontainer {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.google-map {
  /* grid-area: main; */
  margin-bottom: 30px;
}
.search-delay-filter {
  grid-area: sidebar;
}

.contain {
  position: relative;
  background-color: white;
  /* background-image: url("https://media-exp1.licdn.com/dms/image/C4E1BAQHyPR5XH6N6fQ/company-background_10000/0/1609449609441?e=2159024400&v=beta&t=JwC2QOKmFs2p6aNDGI9SnJhp9NucMwTkV94luVcg9qs"); */
  background-repeat: no-repeat;

  border: 0px;
  margin: 0px;
  padding: 0px;
  /* display: grid; */
  /* grid-template-columns: 600px 500px; */
  grid-template-rows: auto;
  grid-template-areas:
  "header header"
  "main sidebar";
  /* grid-gap: 0px 120px; */
  /* min-height: 100vh; */
  width: 0 auto;
}


.sdf-windows {
  padding: 0px;
}
