
header {
  text-align: center;
  grid-area: header;
}
.google-map {
  grid-area: main;
  margin: 50px;
}
.search-delay-filter {
  grid-area: sidebar;
}

.container {
  position: relative;
  background-color: rgba(25, 208, 255);
  /* background-image: url("/images/trains.jpg"); */
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  block-size: fit-content;
  display: grid;
  grid-template-columns: 600px 500px;
  grid-template-rows: auto;
  grid-template-areas:
  "header header"
  "main sidebar";
  grid-gap: 0px 120px;
  min-height: 100vh;
}


.sdf-windows {
  padding: 30px;
}
