.thumbnail:hover {
    position:relative;
    top:-270px;
    left:-130px;
    width:600px;
    height:auto;
    display:block;
    z-index:999;
}

.filter {
  width: 20%;
  float: left;
  background-color: #F7F7F7;
  padding-top: 7px;
  border-radius: 10px;
  min-height: 1070px;
}
