.google-map {
  margin-left: 0px;
  margin-right: 40px;
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 30px;
  background-color: white;
}

#map-canvas {
  /* height: 70%;
  width :50%; */
  float:right;
}
