.search form {
  /* margin: auto; */
  display: block;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 0px;
  background-color: #BECAFF;
}

.search input {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 5px;
}

input {
  margin-right: 10px;
  /* margin-bottom: 10px; */
}

.text {
  width: 20ch;
  font-family: monospace;
  overflow: hidden;
  border-right: solid 1px;

  animation: typing 1s steps(5);
}
.stopsInfo {
  width: 300px;
}

@keyframes typing {
  from { width: 5ch ;}

}

.table {
height: 200px;
overflow: scroll;
margin-top: 5px;
background-color: white;
}
