.searchform {
  margin: auto;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

input {
  margin-right: 10px;
  /* margin-bottom: 10px; */
}

.text {
  width: 20ch;
  font-family: monospace;
  overflow: hidden;
  border-right: solid 1px;

  animation: typing 1s steps(5);
}


@keyframes typing {
  from { width: 5ch ;}

}

.table {
height: 200px;
overflow: scroll;
}
