button {
  margin: 0 auto !important;
  background-color: #4169e1;
  color: white;
  border: 0px solid;
  font-family: 'Roboto', sans-serif;
  height: 40px;
  width: 220px;
  padding-left: 9px;
}

.stops {
  float: left;
  min-width: 75%;
  height: 300px;
  overflow: scroll;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  background-color: white;
}
